/*****CONTEUDO*****/
#conteudo_JogoMemoria{
	width: 1024px;
	height: 750px;
	background-color: #f7f7f7;
	padding-top: 20px;
	margin-top: 0px;
}

#conteudo_JogoMemoria h2{
	font-size: 30px;
	font-family: 'Carme', sans-serif;
	text-align: center;
	letter-spacing: 1px;
}

#conteudo_JogoMemoria p{
	padding-left: 40px;
	padding-right: 40px;
	letter-spacing: 1px;
	line-height: 160%;
	font-family: 'Carme', sans-serif;
	font-size: 18px;
}

#conteudo_JogoMemoria img{
	margin-top: -18px;
	padding-left: 300px;
	padding-top: 30px;
}

#botao a{
	padding-left: 150px;
}
